@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@700&display=swap');


body {
    font-family: 'Luckiest Guy', cursive;
}

.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

img {
    height: 65px;
    width: 60px;
}

nav .brand-logo {
    font-size: 3rem;
}

nav.nav-extended .nav-wrapper {
    min-height: 80px;
}

.brand-logo {
    font-family: 'Luckiest Guy', cursive;
    margin-left: 5px;
}

#mobile-demo {
    font-family: 'Luckiest Guy', cursive;
    background-color: black;
}

.mobile-brand-logo {
    text-align: center;
    color: #fff;
}

.sidenav li>a {
    color: #fff !important;
}


/*Register Page*/
.register-page,
.login-page {
    background-color: orange;
    height: 100vh;
}

.register-title {
    margin-top: 0;
    margin-bottom: 40px;
    border-top-width: 10px;
    padding-top: 10px;
}



.page-footer {
    position: fixed;
    padding: 10px 10px 0px 10px;
    bottom: 0;
    width: 100%;
    height: auto;
    background: black;
}

.hero-image {
    background-image: url('../images/heroimg2.jpg');
    width: 100vw;
    height: 100vh;
    background-size: 100% 100%;
}

/* sticky footer css from MAterialize
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}*/



/* Index Page */
.background-img {
    background-image: url(/static/images/heroimg2.jpg);
    height: 70vh;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.welcome-title {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 4rem;
    text-transform: uppercase;
    text-align: center;
    margin: 0px 20px;
    padding-top: 40px;
    color: #fff;
    text-shadow: 0 2px 10px rgb(0 0 0 / 40%);
}

/* Welcome Title styling- from https://codepen.io/bennettfeely/pen/lgybC/*/
.welcome-text>span {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #fff;
    font-size: 3rem;
    font-style: italic;
    letter-spacing: 3px;
    display: inline-block;
    text-shadow: 0 0 0 whitesmoke;
    animation: smoky 7s 5s both;
}

span:nth-child(even) {
    animation-name: smoky-mirror;
}

@keyframes smoky {
    60% {
        text-shadow: 0 0 40px whitesmoke;
    }

    to {
        transform:
            translate3d(15rem, -8rem, 0) rotate(-40deg) skewX(70deg) scale(1.5);
        text-shadow: 0 0 20px whitesmoke;
        opacity: 0;
    }
}

@keyframes smoky-mirror {
    60% {
        text-shadow: 0 0 40px whitesmoke;
    }

    to {
        transform:
            translate3d(18rem, -8rem, 0) rotate(-40deg) skewX(-70deg) scale(2);
        text-shadow: 0 0 20px whitesmoke;
        opacity: 0;
    }
}

@for $item from 1 through 21 {
    span:nth-of-type(#{$item}) {
        animation-delay: #{(3 + ($item/10))}s;
    }
}

.join-text {
    font-size: 1.5rem;
}