@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Nothing+You+Could+Do&display=swap');


body {
    font-family: 'Luckiest Guy', cursive;
}

.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

img {
    height: 40px;
    width: 60px;
}

nav .brand-logo {
    font-size: 3rem;
}

nav.nav-extended .nav-wrapper {
    min-height: 80px;
    padding-top: 10px;
    padding-bottom: 20px;

}

.brand-logo {
    font-family: 'Luckiest Guy', cursive;
    margin-left: 10px;
}

#mobile-demo {
    font-family: 'Luckiest Guy', cursive;
    background-color: black;
}

.mobile-brand-logo {
    text-align: center;
    color: #fff;
}

.sidenav li>a {
    color: #fff !important;
}


/*Register Page*/
.register-page,
.login-page {
    background-color: orange;
    height: 100vh;
}

.register-title {
    margin-top: 0;
    margin-bottom: 40px;
    border-top-width: 10px;
    padding-top: 10px;
}



.page-footer {
    padding: 10px 10px 0px 10px;
    bottom: 0;
    left: 0;
    margin-top: 30px;
    width: 100%;
    background: black;
}

/* Index Page */
.background-img {
    background-image: url(/static/images/heroimg2.jpg);
    height: 70vh;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.welcome-title {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 4rem;
    text-transform: uppercase;
    margin: 0px 20px;
    padding-top: 40px;
    color: #fff;
    text-shadow: 0 2px 10px rgb(0 0 0 / 40%);
}

.img-description {
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    font-family: 'Raleway', sans-serif;
    margin-left: 5px;
    font-size: 1rem;
    bottom: 0;
    left: 0;
    color: #fff;
    width: 100%;
}



/* Welcome Title styling- from https://codepen.io/bennettfeely/pen/lgybC/*/
.welcome-text>span {
    font-family: 'Caveat', cursive;
    color: #fff;
    font-size: 3rem;
    font-style: italic;
    letter-spacing: 3px;
    display: inline-block;
    text-shadow: 0 0 0 whitesmoke;
    animation: smoky 5s 3s both;
}

span:nth-child(even) {
    animation-name: smoky-mirror;
}

@keyframes smoky {
    60% {
        text-shadow: 0 0 40px whitesmoke;
    }

    to {
        transform:
            translate3d(15rem, -8rem, 0) rotate(-40deg) skewX(70deg) scale(1.5);
        text-shadow: 0 0 20px whitesmoke;
        opacity: 0;
    }
}

@keyframes smoky-mirror {
    60% {
        text-shadow: 0 0 40px whitesmoke;
    }

    to {
        transform:
            translate3d(18rem, -8rem, 0) rotate(-40deg) skewX(-70deg) scale(2);
        text-shadow: 0 0 20px whitesmoke;
        opacity: 0;
    }
}

@for $item from 1 through 21 {
    span:nth-of-type(#{$item}) {
        animation-delay: #{(3 + ($item/10))}s;
    }
}

.join-text {
    font-family: 'Raleway', sans-serif;
    font-size: 1.8rem;
    margin-left: 10px;
}

/* Button Styling */
.btn,
.btn-large {

    font-family: 'Luckiest guy';
    border-radius: 8px;
    letter-spacing: 2px;
}

.btn-join {
    margin-left: 10px;
}

.btn-small {
    margin: 5px;
}


.collapsible-header .col strong {
    margin: 5px;
    line-height: 42px;
}

.glossary-btn {
    text-align: right;
}

/* Modal styling  */
.modal-close,
.modal-footer {
    text-align: center !important;
}