{% extends "base.html" %}
{% block content %}

<h3 class="black-text text-darken-4 center-align"><i class="fas fa-plus"></i> Add Word</h3>

<div class="row card-panel grey lighten-5">
    <form class="col s12" method="POST" action="">
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-pencil-alt prefix black-text text-darken-4"></i>
                <input id="word_name" name="word_name" minlength="3" maxlength="50" type="text" class="validate"
                    required>
                <label for="word_name">Word</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-align-left prefix black-text text-darken-4"></i>
                <textarea id="word_description" name="word_description" minlength="5" maxlength="200"
                    class="materialize-textarea validate" required></textarea>
                <label for="word_description">Definition</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-align-left prefix black-text text-darken-4"></i>
                <textarea id="phrase_example" name="phrase_example" minlength="5" maxlength="200"
                    class="materialize-textarea validate" required></textarea>
                <label for="phrase_example">Example</label>
            </div>
        </div>
</div>
</form>
</div>

{% endblock %}