{% extends "base.html" %}
{% block content %}

<h3 class="white-text text-darken-4 center-align">Add Category</h3>
<div class="container">
    <div class="row card-panel lighten-5">
        <form class="col s12" method="POST" action="{{ url_for('add_category') }}">
            <!--Category-->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-folder-open prefix black-text text-darken-4"></i>
                    <input id="category_name" name="category_name" minlength="3" maxlength="25" type="text"
                        class="validate" required>
                    <label for="category_name">Category</label>
                </div>
            </div>
            <!-- submit button -->
            <div class="row">
                <div class="col s12 center-align">
                    <a href="{{ url_for('get_words') }}" class="btn-large red text-shadow">
                        Cancel <i class="fas fa-times-circle right"></i>
                    </a>
                    <button type="submit" class="btn-large orange darken-1 text-shadow">
                        Add Category <i class="fas fa-plus-square right"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}