{% extends "base.html" %}
{% block content %}

<div class="manage-categories-page">
    <h3 class="white-text center-align">Manage Categories</h3>

    <div class="row">
        <div class="col s12 center-align">
            <a href="{{ url_for('add_category')}}" class="btn-large green text-shadow">
                Add Category <i class="fas fa-plus-square right"></i>
            </a>
        </div>
    </div>

    <div class="row center-align">
        {% for category in categories %}
        <div class="col s12 m3">
            <div class="card orange darken-1">
                <div class="card-content white-text">
                    <span class="card-title">{{ category.category_name }}</span>
                </div>
                <div class="card-action center-align">
                    <a href="{{ url_for('edit_category', category_id=category._id ) }}"
                        class="btn green accent-4">Edit</a>
                    <a href="{{ url_for('delete_category', category_id=category._id ) }}"
                        data-target="{{ category._id }}" class="btn red modal-trigger lighten-1">Delete</a>
                </div>
            </div>
        </div>
        <!-- Delete Confirmation Modal -->
        <!-- Code from a slack thread in #data-centric-dev -->
        <div id="{{ category._id }}" class="modal center-align">
            <!-- Modal Content -->
            <div class="modal-content center-align">
                <h4>Are you sure you want to delete "{{ category.category_name }}" from Kiwi Lingo?</h4>
            </div>
            <!-- Buttons -->
            <div class="row modal-footer">
                <!-- Cancel Button -->
                <a href="#!" class="btn delete modal-close waves-effect waves-light red z-depth-0">
                    <i class="fas fa-times"></i>
                    Cancel
                </a>
                <!-- Delete Button -->
                <a href="{{ url_for('delete_category', category_id=category._id) }}"
                    class="btn delete waves-effect waves-light green z-depth-0">
                    <i class="fas fa-trash-alt"></i>
                    Delete
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}