{% extends "base.html" %}
{% block content %}

<h3 class="contact-header white-text center-align">Drop Us A Line, Owl!</h3>
<p class="center-align orange-text">Did Our Site Meet Your Expectations?<br> If we can improve, drop us an email and
    share your thoughts with us.</p>
<!-- Contact Form -->
<div class="container">
    <form id="contact_form" class="col s12 m8 offset-m2" onsubmit="return sendMail(this)">
        <div class="card center-align">
            <!-- Name -->
            <div class="input-field">
                <i class="fas fa-user prefix"></i>
                <input id="from_name" name="from_name" type="text" class="validate" placeholder="Please Enter Your Name"
                    required>
                <label for="from_name">Name</label>
            </div>
            <!-- Email -->
            <div class="input-field">
                <i class="fas fa-envelope prefix"></i>
                <input id="email" name="email" type="email" class="validate" placeholder="Enter Your Email Address"
                    required>
                <label for="email">Email</label>
            </div>
            <!-- Message -->
            <div class="input-field">
                <i class="fas fa-comment-dots prefix"></i>
                <textarea id="message" class="materialize-textarea" placeholder="How Can We Help?" required></textarea>
                <label for="message">Message</label>
            </div>

            <!-- Submit Button -->
            <button class="btn waves-effect waves-light green" type="submit">
                <i class="fas fa-paper-plane"></i>
                Submit
            </button>

        </div>
    </form>
</div>
<!--Email Response-->
<div class="row">
    <div id="email_response" class="center-align flashes">
    </div>

    {% block scripts %}
    <script src="{{ url_for('static', filename='js/contact.js') }}"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/emailjs-com@2/dist/email.min.js"></script>
    <script type="text/javascript">
        (function () {
            emailjs.init("user_vDyi4dV3qOZW8fCJDRVWr");
        })();
    </script>

    {% endblock %}


    {% endblock %}