{% extends "base.html" %}
{% block content %}

<h3 class="white-text center-align">Glossary</h3>
<div class="container">
    <div class="row card-panel">
        <form action="{{ url_for('search' )}}" method="POST" class="col s12">
            <div class="row valign-wrapper center-align">
                <div class="input-field col s12 m8">
                    <i class="fas fa-search prefix blue-text text-darken-3"></i>
                    <input type="text" name="query" id="query" class="validate" required>
                    <label for="query">Search</label>
                </div>
                <div class="col s12 m4">
                    <button type="submit" class="light-blue darken-1 btn text-shadow">
                        <i class="fas fa-search left"></i>Search
                    </button>
                    <a href="{{ url_for('get_words' )}}" class="red btn text-shadow"><i
                            class="fas fa-undo left"></i>Reset</a>
                </div>
            </div>
        </form>
    </div>
</div>

{% if words|length > 0 %}
<div class="container">
    <ul class="collapsible popout">
        {% for word in words %}
        <li>
            <div class="collapsible-header white-text orange darken-1 text-shadow">
                <i class="fas fa-caret-down"></i><strong>{{ word.word }}</strong>
                <!--Site Owner elerel can edit or delete user added words-->
                {% if session.user == word.created_by or session.user == "elerel" %}
                <a href="{{ url_for('delete_word', word_id=word._id) }}" data-target="{{ word._id }}"
                    class="btn-small modal-trigger green accent-4">Delete</a>
                <a href="{{ url_for('edit_word', word_id=word._id) }}" class="btn-small light-blue lighten-1">Edit</a>
                {% endif %}

            </div>
            <div class="collapsible-body orange lighten-4">
                <strong><em>Category: </em></strong>{{ word.category_name}}
                <p><strong><em>Definition: </em></strong>{{ word.definition }}</p>
                <p><strong><em>Example: </em></strong>{{ word.phrase_example }}</p>
                <p><strong><em>by: {{ word.created_by }}</em></strong></p>
                <!--Likes & Dislikes- code snippet taken from fellow student Karen Yuen and modified-->
                <div class="col s12 m4 valign-wrapper" id="thumbsup">
                    <a href="{{ url_for('thumbs_up', word_id=word._id)}}" class="secondary content thumbs_up tooltipped"
                        data-position="top" data-tooltip="Yeah, bro!">
                        <i class="fas fa-thumbs-up" id="like-thumb" alt="thumbs up"></i></a>
                    <span id="count">{{ word.thumbs_up }}</span>
                    <!--dislike-->
                    <a href="{{ url_for('thumbs_down', word_id=word._id)}}"
                        class="secondary content thumbs_down tooltipped" data-position="top" data-tooltip="Nah, bro!">
                        <i class="fas fa-thumbs-down" id="dislike-thumb" alt="thumbs down"></i></a>
                    <span id="count">{{ word.thumbs_down }}</span>
                </div>
            </div>
        </li>
        <!-- Delete Confirmation Modal -->
        <!-- Code snippet used and modified from a slack thread in #data-centric-dev (Ed_B) -->
        <div id="{{ word._id }}" class="modal center-align">
            <!-- Modal Content -->
            <div class="modal-content center-align">
                <h4>Are you sure you want to delete "{{ word.word }}" from Kiwi Lingo?</h4>
            </div>
            <!-- Buttons -->
            <div class="row modal-footer">
                <!-- Delete Button -->
                <a href="{{ url_for('delete_word', word_id=word._id) }}"
                    class="btn delete waves-effect waves-light green z-depth-0">
                    <i class="fas fa-trash-alt"></i>
                    Delete
                </a>
                <!-- Cancel Button -->
                <a href="#!" class="btn delete modal-close waves-effect waves-light red z-depth-0">
                    <i class="fas fa-times"></i>
                    Cancel
                </a>
            </div>
        </div>

        {% endfor %}
    </ul>
    {% else %}
    <h3 class="red-text bold center-align">No Results Found!</h3>
    <hr>
    {% endif %}
</div>
<!--Add Word/Phrase section-->
<div class="sign-up container center-align white-text">
    <h3 class="add-word">Keen to add a word or phrase?</h3>
    <p>Log In or Sign Up Now!</p>
    <a href="{{ url_for('login') }}" class="btn waves-effect waves-light green">Log In</a>
    <a href="{{ url_for('register') }}" class="btn waves-effect waves-light red">Sign Up</a>
</div>


{% endblock %}