{% extends "base.html" %}
{% block content %}

{% for word in words %}
{{ word.category_name}}<br>
{{ word.word }}<br>
{{ word.definition }}<br>
{{ word.phrase_example }}<br>
{{ word.thumbs_up }}<br>
{{ word.thumbs_down }}

{% endfor %}

<ul class="collapsible popout">
    <li>
        <div class="collapsible-header white-text orange darken-1 text-shadow"><i class="fas fa-caret-down"></i>First
        </div>
        <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span>
        </div>
    </li>
    <li>
        <div class="collapsible-header white-text orange darken-1 text-shadow"><i class="fas fa-caret-down"></i>Second
        </div>
        <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
    <li>
        <div class="collapsible-header white-text orange darken-1 text-shadow"><i class="fas fa-caret-down"></i>Third
        </div>
        <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
</ul>

{% endblock %}