{% extends "base.html" %}
{% block content %}

<h3 class="black-text center-align">Glossary</h3>

<ul class="collapsible popout">
    {% for word in words %}
    <li>
        <div class="collapsible-header white-text orange darken-1 text-shadow">

            <i class="fas fa-caret-down"></i><strong>{{ word.word }}</strong>



            {% if session.user == word.created_by %}
            <a href="{{ url_for('delete_word', word_id=word._id) }}" data-target="{{ word._id }}"
                class="btn-small modal-trigger right-align green accent-4">Delete</a>
            <a href="{{ url_for('edit_word', word_id=word._id) }}"
                class="btn-small light-blue right-align lighten-1">Edit</a>
            {% endif %}

        </div>
        <div class="collapsible-body orange lighten-4">
            <strong><em>Category: </em></strong>{{ word.category_name}}
            <p><strong><em>Definition: </em></strong>{{ word.definition }}</p>
            <p><strong><em>Example: </em></strong>{{ word.phrase_example }}</p>
            <p><strong><em>by: {{ word.created_by }}</em></strong></p>
            <!--{% if word.thumbs_up == "on" %}-->
            <i class="fas fa-thumbs-up text-lighten-2 tooltipped" data-position="bottom" data-tooltip="Yeah, Bro!"></i>
            <i class="fas fa-thumbs-down text-lighten-2 tooltipped" data-position="bottom" data-tooltip="Nah, Bro!"></i>
            <!--{% endif %}-->
        </div>
        </div>
    </li>

    <!-- Delete Confirmation Modal -->
    <!-- Code from a slack thread in #data-centric-dev -->
    <div id="{{ word._id }}" class="modal center-align">
        <!-- Modal Content -->
        <div class="modal-content center-align">
            <h4>Are you sure you want to delete "{{ word.word }}" from Kiwi Lingo?</h4>
        </div>
        <!-- Buttons -->
        <div class="row modal-footer">
            <!-- Cancel Button -->
            <a href="#!" class="btn delete modal-close waves-effect waves-light red z-depth-0">
                <i class="fas fa-times"></i>
                Cancel
            </a>
            <!-- Delete Button -->
            <a href="{{ url_for('delete_word', word_id=word._id) }}"
                class="btn delete waves-effect waves-light green z-depth-0">
                <i class="fas fa-trash-alt"></i>
                Delete
            </a>
        </div>
    </div>

    {% endfor %}
</ul>

{% endblock %}