{% extends "base.html" %}
{% block content %}
<div class="background-img">
    <h3 class="welcome-title">
        "Aotearoa": New Zealand
    </h3>
    <p class="welcome-text left-align">
        <span>"L</span><span>a</span><span>n</span><span>d </span>&nbsp;<span> O</span><span>f </span>&nbsp;<span>
            T</span><span>h</span><span>e</span>
        &nbsp;<span> L</span><span>o</span><span>n</span><span>g </span>&nbsp;<span>
            W</span><span>h</span><span>i</span><span>t</span><span>e </span>&nbsp;
        <span> C</span><span>l</span><span>o</span><span>u</span><span>d"</span>
    </p>
    <div class="join-text white-text">
        <div class="left-align white-text">
            <p>Kia Ora & Welcome to Kiwi Lingo!<br>Your Ultimate Online Guide to Kiwi Phrases and Words<br>Join
                Today to Add Your
                Word or Phrase!</p>
            <a href="{{ url_for('register') }}" class="btn waves-effect waves-light z-depth-0">Register Now</a>
            <a href="{{ url_for('get_words') }}" class="btn waves-effect waves-light z-depth-0">Go To Glossary</a>
        </div>
    </div>
    <div class="img-description">
        <h5>Aoraki/Mount Cook</h5>
        <p>Lake Pukaki, South Island</p>
    </div>
</div>

<div class="about container center-align">
    <h2>What's Kiwi Lingo?</h2>
    <img src="/static/images/nzfern.PNG" alt="nz fern logo">
    <div class="description">
        <p>
            Ever been in an awkward conversation with a Kiwi (New Zealander) and you didn't know what the heck they were
            on about?
        </p>
        <p>
            Maybe you have just returned from Middle Earth and collected some choice words you want to store...
        </p>
        <p>
            Let our handy guide, Kiwi Lingo, be your go-to guide for everything spoken in New Zealand!
        </p>
    </div>
    <a href="{{ url_for('get_words') }}" class="btn waves-effect waves-light z-depth-0">See Guide</a>

</div>


{% endblock %}