{% extends "base.html" %}
{% block content %}
<!--Caption/cta area-->
<div class="index-pg">

    <!--Carousel-->
    <div class="carousel carousel-slider center">
        <div class="carousel-fixed-item center">
            <a href="{{ url_for('get_words') }}" class="btn guide-btn waves-effect waves-light red">View Guide
            </a>
        </div>
        <div class="carousel-item carousel-one white-text" href="#one!">
            <div class="welcome-text">
                <h3>Aotearoa</h3>
                <p class="new-zealand white-text"><strong>New Zealand<br>"Land Of The Long White Cloud"</p></strong>
                <p class="welcome white-text">Kia Ora & Welcome to Kiwi Lingo!<br>Your Ultimate Online Guide to Kiwi
                    Phrases and
                    Words<br>
                    Join Today to Add Your
                    Word or Phrase!</p>
                <!--Image Description-->
                <div class="img-description left-align ">
                    <h5>Aoraki/Mount Cook</h5>
                    <p class="hide-on-small-only">Lake Pukaki, South Island NZ</p>
                </div>
            </div>
        </div>
        <div class="carousel-item carousel-two white-text" href="#two!">
            <div class="img-description left-align">
                <h5>Milford Sound, South Island</h5>
                <p class="hide-on-small-only">Milford Sound tops the rainfall meter of New Zealand<br>bringing in
                    6,813mm and 182 days of rain per year.
                </p>
            </div>
        </div>
        <div class="carousel-item carousel-three white-text" href="#three!">
            <div class="img-description left-align">
                <h5>Mine Bay, Maori Carvings </h5>
                <p class="hide-on-small-only">Take a kayak or boat tour around the scenic Western Bays of Lake Taupō to
                    see the huge Māori rock carving at Mine Bay.</p>
            </div>
        </div>
        <div class="carousel-item carousel-four white-text" href="#four!">
            <div class="img-description left-align">
                <h5>Bay of Islands, North Island</h5>
                <p class="hide-on-small-only">From snow-capped mountains in the South, to sub-tropical beaches in the
                    North</p>
            </div>
        </div>
    </div>
    <!--About Kiwi Lingo-->
    <div class="about-kiwi container center-align">
        <h2>What's Kiwi Lingo?</h2>
        <i class="fas fa-kiwi-bird fa-3x"></i><i class="fas fa-kiwi-bird fa-3x icon-flipped"></i>
        <div class="description">
            <p>
                Ever been in an awkward conversation with a Kiwi (New Zealander) and you didn't know what the heck to
                respond?
            </p>
            <p>
                Maybe you are looking to brush up on your Maori and there's some choice words or expressions you
                want to store...
            </p>
            <p>
                Let our handy guide, Kiwi Lingo, be your go-to guide for everything spoken in New Zealand!
            </p>
        </div>
        <a href="{{ url_for('register') }}" class="btn waves-effect waves-light red">Register</a>
    </div>
</div>
{% endblock %}